
#popUpMsg-bg { position: absolute; left: 0; right: 0;  top: 0;  bottom: 0;  background: rgba(0,0,0,0.5);}
#popUpMsg {  top: 10%;  left: 50%;  margin-left: -200px;  width: 400px;  padding: 25px 19px;  background: white;  border-radius: 5px;  position: absolute;  color: #03acff;}
#popUpMsg .close {  background: black;  color: white;  width: 20px;  height: 20px;  text-align: center;  border-radius: 50%;  position: absolute;  cursor: pointer;  top: 0px;  right: 0px;  display: none;}
#popUpMsg .content {  text-align: center;  margin-bottom: 10px;}
#popUpMsg button {    display: block;    margin: 0 auto;    border-radius: 3px;    background: #0072ab;    padding: 5px 20px;    cursor: pointer;    color: white;}
