body{background: #0d2b28;padding: 50px 10px 10px 10px;font-size:20px;color: #c4e0ff;font-weight: 600; min-width: 840px;}
tr {border-bottom: 1px solid #427570;}
th, td {padding: 5px 10px;}
td span{display: block;}
input, select {color:#2169b9; padding: 0 5px; margin: 5px 0; line-height: 30px; height: 30px;}
table {width: 100%;}
.newUserForm div:nth-child(1), .newUserForm div:nth-child(2){line-height: 60px;}

button, .button, a {display: inline-block;padding: 5px 10px;border: 1px solid #1050a9;margin: 10px 0;background: #003c36;color: #87cdff; transition: .3s;}
a:hover, button:hover, .button:hover{text-decoration: none;background: #1aafa0;color: #e2fffc; cursor: pointer;}
.billPanel {padding: 30px 10px 10px 10px;display: inline-block;width: 100%;}
.billPanel select, .billPanel input, .billPanel button {width: 100%;}
.billPanel label {display:block;line-height: 45px;}
.billPanel label input{width: 10%;}
.billPanel label span{width: 70%;display: inline-block;line-height: 45px;height: 40px;vertical-align: text-bottom;}
.currencyCourse{text-align: right;}
.currencyCourse span{display: inline-block; padding: 15px;}
.promtWrapper{position: relative;}
.showPromt{position: absolute;top: 0px;left: -210px;z-index: 10;background: #0d2b28;width: 314px;text-align: right;}
.showPromt span{display: inline-block;}
.showPromtBlock{left: -22px;width: 331px;}

#popUpMsg-bg { position: absolute; left: 0; right: 0;  top: 0;  bottom: 0;  background: rgba(0,0,0,0.5);}
#popUpMsg { top: 30%;  left: 50%;  margin-left: -200px;  width: 400px;  padding: 25px 19px;  background: white;  border-radius: 5px;  position: absolute;  color: #03acff;}
#popUpMsg .close { background: black;  color: white;  width: 20px;  height: 20px;  text-align: center;  border-radius: 50%;  position: absolute;  cursor: pointer;  top: 0px;  right: 0px;  display: none;}
#popUpMsg .content { text-align: center;  margin-bottom: 10px;}
#popUpMsg button { display: block;    margin: 0 auto;    border-radius: 3px;    background: #0072ab;    padding: 5px 20px;    cursor: pointer;    color: white;}
