body{background: #0d2b28;padding-top: 50px;font-size:20px;color: #c4e0ff;font-weight: 600;}
th, td {padding: 5px 10px;border-bottom: 1px solid #427570;}
td span{display: block;}
input, button {color:#2169b9;}
a {display: inline-block;padding: 5px 10px;border: 1px solid #1050a9;margin: 10px 0;background: #003c36;color: #87cdff; transition: .3s;}
a:hover{text-decoration: none;background: #1aafa0;color: #e2fffc;}

