body{background: #0d2b28;padding-top: 50px;font-size:20px;color: #c4e0ff;font-weight: 600;}
th, td {padding: 5px 10px;border-bottom: 1px solid #427570;}
td span{display: block;}
input, button {color:#2169b9;}


